extends layout

block content
  h1= title
  p Welcome to #{title}
  p#data=JSON.stringify(data)
  p cpu
  div
    div.val#cpu(style='width: '+data.cpu.usage+'%')
  p ram
  div
    div.val#ram(style='width: '+data.ram.usage+'%')
  p memory
  div
    div.val#mem(style='width: '+data.mem.p)
