extends layout

block content
  h1= title
  div
    p#console(style='height:170px; overflow: auto;')
    input(id="cmd",style='width:100%;')
    br
    button(onclick="exe('ls')") ls
  //p#data=JSON.stringify(data)
  p#cpuinfo cpu
  div
    div.val#cpu(style='width: '+data.cpu.usage+'%')
  p#raminfo ram
  div
    div.val#ram(style='width: '+data.ram.usage+'%')
  p#meminfo disk
  div
    div.val#mem(style='width: '+data.mem.p)
